---
# pam-auth-update will add the necessary pam_sss.so module lines during sssd install

- name: Enable PAM automatic homedir creation
  when: ad_automatic_homedir_creation
  tags: ad_member
  lineinfile:
    path: "{{ ad_pam_config_dir }}/common-session"
    insertbefore: '^session\s*required\s*pam_unix.so'
    line: 'session required pam_mkhomedir.so skel=/etc/skel/ umask=0022'
    firstmatch: yes
    state: present
