---
# The net join method does not create an sssd config so use the provided
# template. Realm join creates a default file that we can accept the defaults
- name: Install sssd conf
  template:
    src: "{{ ansible_distribution|lower }}_sssd.conf.j2"
    dest: "{{ ad_member_sssd_config_file }}"
    owner: root
    group: root
    mode: '0600'
  notify:
    - sssd restart
